@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

.head {
    justify-content: center;
    padding-left: 90px;
    padding-bottom: 20px;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #c3fefddd;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, rgb(22, 185, 217), rgb(146, 42, 146));
}
.calculator {
    border: 1px solid #437d90;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.186);
    background-image: linear-gradient(to top, #90c6f2 0%, #4897d3 100%);
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
    border: 3px solid #c0e4f1c8;
    border-radius: 5px;
}

input::placeholder {
    color: #ffffff;

}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(142, 142, 142, 0.322);
    cursor: pointer;
    background-image: linear-gradient(to right, #36c3f2 0%, #729de8 100%);
}

.button-operator {
    background-image: linear-gradient(to right, #85bff2 0%, #7cabf2 100%);
}

.button-equalBtn {
    background-image: linear-gradient(to right, #85bff2 0%, #7cabf2 100%);
}