@import url('https://fonts.googleapis.com/css?family=Roboto');

.navbar {
    border: none;
    font-family: 'Roboto', sans-serif;
}


body {
    /* margin-top: -150px; */
    background-color: rgb(238, 238, 238);
    font-family: 'Helvetica Neue', 'Roboto', sans-serif;
    /* height: 800px; */
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(135deg, rgb(22, 185, 217), rgb(146, 42, 146));
    padding-bottom: 137px;
}
#Header {
    padding-top: 200px;
    padding-bottom: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fdd6d6e9;
    font-family: 'Roboto', sans-serif;
    margin-top: -120px;
}

#container {
    width: 400px;
    height: 530px;
    overflow-y: auto;
    margin: 0px auto;
    background-color: rgb(228, 241, 254);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    
}

#main-container {
    width: 360px;
    height: 390px;
    overflow-y: auto;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    color: #8a8a8a92;
    
}

#controller {
    width: 360px;
    height: 80px;
    margin: 0px auto;
    margin-top: 7px;
}

.form-control {
    border: none;
}

textarea {
    margin-top: 7px;
    resize: none;
}

#send {
    float: right;
    padding: 10px 20px 10px 20px;
    background-color: #ebbe6a;
    border: none;
    font-weight: 1000;
}

.bubble {
    margin-top: 5px;
    width: 75%;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    display: flex;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
} 

.user-input {
    float: right;
    background-color: #f6d089;
    color: #290606;
}

.bot-output {
    float: left;
    background-color: #e5e5ea;
    color: #000;
    margin-bottom:4px;
}