* {
    margin: 0;
    PADDING: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    font-family: sans-serif;

}

.header {
    position: absolute;
    margin-top: 2% !important;
    /* left: 930px !important; */
    align-self: flex-start;
    text-align: center;
    justify-content: center;
    font: 3em sans-serif;
    font-weight: 600;
    color: #693a17;
    font-family: 'Roboto', sans-serif;
}

.row-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top:7%;
}

.container {
    position: relative;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    background-image: linear-gradient(to top, #e6a7c8 0%, #9ccaef 100%);
        height: 100%;
            width: 100%;
}

.card {
    /* left: 3%; */
    /* top: 20px; */
    /* position: relative; */
    display: inline-block;
    /* justify-content: center;
    align-items: center; */
    width: 420px;
    height: 350px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, .3);
    transition: .5s;
    overflow: hidden;
    /* row-gap:3%; */
    margin-bottom: 2%;
    /* justify-content: space-between; */
    padding:0.7% 1.2% 0.7% 0.7% ;
}

.card:hover {
    height: 400px;
}

.card img {
    width: 400px;
    height: 260px;
    /* width: 100%; */
    border-radius: 16px;
    transition: .5s;

}

.card:hover img {
    border-radius: 16px 16px 0 0;
}

.card .card-body {
    padding: .5rem .85rem 1rem;
    height: 0;
}

.card .card-body h6 {
    margin: 0.05rem 0;
    font-size: 1.85rem;
    color: rgb(88, 50, 67);
    letter-spacing: 3px;
}

.card .card-body p {
    text-align: justify;
    font-size: .9rem;
    line-height: 25px;
}

.card .card-body div {
    text-align: right;
    width: 100%;
}

.card a {
    text-decoration: none;
    color: inherit;
}

/* .card .card-body div a {
    position: relative;
    text-decoration: none;
    color: #526ffd;
    padding: .5rem;
    text-align: center;
    z-index: 999;
    font-size: .85rem;
}

.card .card-body div a::before {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    background: #526ffd;
    border-radius: 300px;
    left: -13px;
    top: 3px;
    z-index: -1;
    transition: .3s;
} */

.card .card-body div a:hover {
    color: #fff;
}

.card .card-body div a:hover::before {
    width: 100%;
    height: 88%;
    /* left: 0; */
}